@media only screen and (max-width: 700px) {
body{overflow:hidden;}
#wait-circle{position:absolute;left:23%; top:100px;}
#wait-title{width:100%;margin-left:8%;margin-top:70%;}
#wait-title h1{font-size:2em;}

#overlay{height:100%;position:absolute;top:0;right:0;left:0;background:rgba(0,0,0,0);text-align:center;}
[id^="circle"]{
  position:absolute; top:1em; left:calc(50% - 9em);
    }
#circle31{background:rgba();
        width:15em;height:15em;
        border-radius:50%;
        margin:1.5em;
        animation:spin 3s infinite linear;
  }
    #circle31::before,#circle31::after{position: absolute;content:''; }
    #circle31::before{border-top:2px solid #68fff4;border-bottom:2px solid #68fff4;border-radius:30em; width:calc(100%);
    height:calc(100% );
    top:-1px;
    left:50%;
    transform:translateX(-50%);
    z-index: 1; }

#circle2{
        border-color:#68fff4 rgba(0,0,0,0) #68fff4 rgba(0,0,0,0);
        border-width:3px;
        border-style:dotted;
        width:17em;height:17em;
        border-radius:50%;
        margin:0.5em;
        animation:spin2 14s infinite linear;
      }
#circle1{font-size:1em;
        border-color:#68fff4 rgba(0,0,0,0) #68fff4 rgba(0,0,0,0);
        border-width:4px;
        border-style:solid;
        width:18em;height:18em;
        border-radius:50%;
        animation:spin1 18s infinite linear;
      }
#intro-wrap{ position: absolute;left:calc(50% - 5.8em);top:4.5em; }
#intro-wrap h1{font-size:1.5em;}
#clg span{font-size: 0.5em;margin-bottom:-5px;}
#date{font-size:1em;}

.menu-left{position:absolute; left:0; top:18.5em;margin-left:10px; transform:skewX(0deg);perspective:100px}
.menu-left ul li{width:140px; transform:rotateY(14deg); animation:none;}
.menu-left ul li:nth-child(1){margin-left:0px; }
.menu-left ul li:nth-child(2){margin-left:10px;}
.menu-left ul li:nth-child(3){margin-left:0px; }
.menu-left ul li button{  transform:skewX(0deg);font-size:0.85em; }

.menu-right{position:absolute;right:0; top:18.5em;margin-right:10px; transform:skewX(0deg);perspective:100px}
.menu-right ul li{ width:140px; transform:rotateY(-14deg); animation:none;}
.menu-right ul li:nth-child(1){margin-left:0px;}
.menu-right ul li:nth-child(2){margin-left:-10px;}
.menu-right ul li:nth-child(3){margin-left:0px;}
.menu-right ul li button{  transform:skewX(0deg);font-size:0.85em; }
#home{left:50%; right:0;top:60px;width:48%;}

nav{z-index:100; }
/* -------------------menu transition------------------------ */
.menur{margin-top:160px;top:0;right:50px;display:none;}
.menul{top:0;left:50px;margin-top:110px;display:none; }
.menur ul li:nth-child(n),.menul ul li:nth-child(n){margin:0;margin-bottom:70px;}
@keyframes menutrans{
    100%{ top:0; }
}
#phone-nav-back{background:rgba(0,0,0,0.8); width:100%;height:100%;position:absolute;top:0;z-index:3;display:none;}
#navigation button{position:absolute;top:20px;left:10px;visibility:visible;}

.btn-top{margin-top:0;}
.btn-space{padding-left:0px;}
#btns ul li{font-size:1.3em;}
#btns{bottom:3em;margin:0;}
#btns #about-btn{float:left;margin-left:-15px;transform:skewX(30deg);}
#btns #about-btn .main-btn{box-shadow:2px -2px 0px #7cf4ff;margin:0;}
#about-btn .main-btn div{transform:skewX(-30deg);padding-left:20px;}

#btns #contact-btn{transform:skewX(30deg);margin-right:-20px;position:absolute;right:0;bottom:-15px;}
#contact-btn .main-btn div{transform:skewX(-30deg);}

#about-btn .main-btn ,#contact-btn .main-btn{ height: 25px;width:178px;}

#btns #campus-btn{transform:rotateX(30deg);margin-left:-3em;}
#campus-btn .main-btn{ width:340px;height:30px;box-shadow:2px -2px 0px #7cf4ff;border-bottom:1px solid #7cf4ff;padding:13px;}
#campus-btn div{perspective:200px;transform:rotateX(-30deg) scaleY(1.35) scaleX(1.1);left:20%;top:0px;}

@keyframes fall4 {
  0% {
    transform: translateY(50em);
  }  100% {
    opacity:1;
  }}
.main-btn {
    padding: 0px 20px 0px 20px;
    margin-bottom: 1em;} 
}

@media only screen and (max-width: 320px) {
[id^="circle"]{
  position:absolute; top:1em; left:calc(50% - 7.8em);
    }
#circle31{ width:14em;height:14em;margin:1em;
  }
#circle2{
        width:15em;height:15em;
      }
#circle1{
        border-width:3px;
        width:16em;height:16em;
    }
#intro-wrap{left:calc(50% - 5.5em);top:3.2em; }
#intro-wrap h1{font-size:1.5em;}
.menu-left, .menu-right{top:16.6em;}
.menu-left ul li button , .menu-right ul li button{font-size:0.8em; }
.menu-right ul li , .menu-left ul li{padding:0px;}

#btns{bottom:0.5em;}
#btns ul li{font-size:1em;}

#about-btn .main-btn ,#contact-btn .main-btn{width:140px;margin:0;}
#contact-btn .main-btn{margin-bottom:1.6em;bottom:-4px}

#campus-btn div{left:27%;top:0px;}

}