
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
html,body{ 
	width:100%;
	height:100%;
	background:radial-gradient(circle, black,rgba(0,0,0,0));}
html{  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body{  font:normal 75% Arial, Helvetica, sans-serif;}
canvas{  display:block;  vertical-align:bottom;}

/* ---- particles.js container ---- */
#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: changeColor 16s infinite alternate;
}
@keyframes changeColor {
  0% {background:#020044;background-image:linear-gradient(to top,black,rgba(0,0,0,0),black);}
  50% {background:#00727a;background-image:linear-gradient(to top,black,rgba(0,0,0,0),black);}
  100% {background:#160147;background-image:linear-gradient(to top,black,rgba(0,0,0,0),black);}
}

#overlay{height:100%;position:absolute;top:0;right:0;left:0;background:rgba(0,0,0,0.3);text-align:center;}
[id^="circle"]{
  position:absolute;left:36%; top:2em;
    }
#circle3{
        border-color:#68fff4 rgba(0,0,0,0) #68fff4 rgba(0,0,0,0);
        border-width:1px;
        border-style:solid;
        width:25em;height:25em;
        border-radius:30em;
        margin:1.75em;
        animation:spin 3s infinite linear;
      }
#circle31{
        width:25em;height:25em;
        border-radius:30em;
        margin:1.75em;
        animation:spin 3s infinite linear;
      }
    #circle31::before,#circle31::after{position: absolute;content:''; }
    #circle31::before{border-top:2px solid #68fff4;border-bottom:2px solid #68fff4;border-radius:30em; width:calc(100%);
    height:calc(100% );
    top:-1px;
    left:50%;
    transform:translateX(-50%);
    z-index: 1; }

#circle2{
        border-color:#68fff4 rgba(0,0,0,0) #68fff4 rgba(0,0,0,0);
        border-width:3px;
        border-style:dotted;
        width:27em;height:27em;
        border-radius:30em;
        margin:.75em;
        animation:spin2 14s infinite linear;
      }
#circle1{font-size:1em;
        border-color:#68fff4 rgba(0,0,0,0) #68fff4 rgba(0,0,0,0);
        border-width:4px;
        border-style:solid;
        width:28.5em;height:28.5em;
        border-radius:30em;
        animation:spin1 18s infinite linear;
      }

@keyframes spin {
  0% {
    transform: rotate(45deg);
    }
    100% {
    transform: rotate(405deg);
    }
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes spin2 {
  0% {
    transform: rotate(90deg);
    }
    100% {
    transform: rotate(-450deg);
    }
}
#intro-wrap{ position: absolute;left:39%;top:12em; }
#intro-wrap h1{font-size:3em;}

#intro-wrap h2{font-family: "Lato";  text-shadow: 0 2px 0.1em black; }
#clg span{font-size: 1em;display: inline-block;animation: falltop forwards ease-in-out alternate;
          letter-spacing:4px;opacity:0;animation-delay:3s;}
#date span{display: inline-block;animation: fall4 forwards ease-in-out alternate;animation-delay:3s;opacity:0;}
#date{margin-top:.8em;font-size:1.3em;}
@keyframes fall4 {
  0% {
    transform: translateY(50em);
  }  100% {
    opacity:1;
  }
}
@keyframes falltop {
  0% {
    transform: translateY(-150px);opacity:0;
  }
  100%{  opacity:1; }
}
/* BTNS */
#btns{ position:absolute;bottom:5em;width:100%;}
#btns ul li{display: inline-block;font-size:2em;text-align: center;}
.btn-space{padding-left:250px;}

.btn-top{margin-top:-5em;}
#btns{perspective:200px;}
.main-btn div{position:absolute;top:0px;z-index:10;}
#btns #btn-left{transform:skewX(-60deg);}
#btn-left .main-btn{ width:100px;height: 20px; }
#btn-left .main-btn div{transform:skewX(60deg); left:15px;}

#btns #btn-right{transform:skewX(60deg);}
#btn-right .main-btn{ width:130px;height: 20px; }
#btn-right .main-btn div{transform:skewX(-60deg);}

#btns #btn-mid{transform:rotateX(60deg);}
#btn-mid .main-btn{ width:250px;perspective:200px;height: 30px;}
#btn-mid div{transform:rotateX(-30deg) scaleY(3) scaleX(1.2) skewX(15deg);}

.main-btn {
  font-family: Vampiro One;
  position: relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  line-height:30px;
  text-align: center;
  transition: 0.5s;
  padding: 10px 30px 10px 30px;
  margin-bottom: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.5s;z-index:1;
}

.main-btn:hover {
  color: #7cf4ff; }

.main-btn::before, .main-btn::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.9s; }

.main-btn::before {
  border-bottom: 2px solid #DDD;
  border-left: 2px solid #DDD;
  -webkit-transform-origin: 100% 0%; }

.main-btn::after {
  border-top: 2px solid #DDD;
  border-right: 2px solid #DDD;
  -webkit-transform-origin: 0% 100%; }

.main-btn:hover::after, .main-btn:hover::before {
  -webkit-transform: scale(1); }

@keyframes fadeInOut {
  0% {
    opacity: 0;
    font-size: 5px; }
  100% {
    opacity: 1; } }
@media only screen and (max-width: 700px) {
  #intro-wrap{top:8em;}
  #intro-wrap h1{font-size:5em;letter-spacing:0.2em;}
  #btns{bottom:2em;}
  #btns ul li{font-size:1.7em;}
  .btn-space{padding-left:10px;}
@keyframes fall {
  0% {
    transform: translateY(-50em);
  }
}
@keyframes fall2 {
  0% {
    transform: translateY(50em);
  }
}
@keyframes fall3 {
  0% {
    transform: translateY(-50em);
  }
}
@keyframes fall4 {
  0% {
    transform: translateY(50em);
  }  100% {
    opacity:1;
  }}
.main-btn {
    padding: 0px 20px 0px 20px;
    margin-bottom: 1em;
    background: rgba(255, 255, 255, 0.15); } 

}

