/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


html,body{ 
	width:100%;
	height:100%;
	background:radial-gradient(circle, black,rgba(0,0,0,0));

}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: changeColor 16s infinite alternate;
}
@keyframes changeColor {
  0% {background:#020044;background-image:linear-gradient(to top,black,rgba(0,0,0,0),black);}
  50% {background:#00727a;background-image:linear-gradient(to top,black,rgba(0,0,0,0),black);}
  100% {background:#160147;background-image:linear-gradient(to top,black,rgba(0,0,0,0),black);}
}


#overlay{height:100%;position:absolute;top:0;right:0;left:0;background:transparent;font-family:'Lato';text-align:center;}

#intro-wrap{position:relative; top:150px;}
#intro-wrap h1{
  font-size:8em;
  font-family: "Lato";
  letter-spacing:80px;
  animation: space 1.5s forwards ease-out;
  animation-delay: 3.3s;}
h1 span { font-weight:200;
  display: inline-block;  background: -webkit-linear-gradient(white, #ffc300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
h1 span:nth-child(1) {animation: fall 1s;}
h1 span:nth-child(2) { animation: fall2 1.5s;}
h1 span:nth-child(3) {  animation: fall3 2s ;}
h1 span:nth-child(4) {  animation: fall4 2.5s;}
h1 span:nth-child(5) {  animation: fall 3s;}
h1 span:nth-child(6) {  animation: fall2 3.5s;}
h1 span:nth-child(7) { animation: fall3 4s;}
h1 span:nth-child(n){ forwards ease-out alternate} 

#intro-wrap h2{
  font-size: 2em;font-family: "Lato";
  text-shadow: 0 2px 0.1em black; }
#clg span{display: inline-block;animation: falltop forwards ease-in-out alternate;letter-spacing:4px;opacity:0;animation-delay:5s;}
#date span{display: inline-block;animation: fall4 forwards ease-in-out alternate;animation-delay:5s;opacity:0;}
#date{margin-top:1em;}
#btns{ position:absolute;bottom:10em;width:100%;}
#btns ul li{display: inline-block;font-size:2.3em;text-align: center;}
.btn-space{padding-left:150px;}
@keyframes space {
  to {
    letter-spacing:0;
  }
}
@keyframes fall {
  0% {
    transform: translateY(-50em);
  }
}
@keyframes fall2 {
  0% {
    transform: translateX(-50em);
  }
}
@keyframes fall3 {
  0% {
    transform: translateX(50em);
  }
}
@keyframes fall4 {
  0% {
    transform: translateY(50em);
  }  100% {
    opacity:1;
  }
}
@keyframes falltop {
  0% {
    transform: translateY(-150px);opacity:0;
  }
  100%{  opacity:1; }
}
@media only screen and (max-width:700px){
  #intro-wrap h1{font-size:5em;letter-spacing:0.2em;}
  #btns{bottom:5em;}
  #btns ul li{font-size:1.7em;padding-bottom:27px}
  .btn-space{padding-left:10px;}
@keyframes fall {
  0% {
    transform: translateY(-50em);
  }
}
@keyframes fall2 {
  0% {
    transform: translateY(50em);
  }
}
@keyframes fall3 {
  0% {
    transform: translateY(-50em);
  }
}
@keyframes fall4 {
  0% {
    transform: translateY(50em);
  }  100% {
    opacity:1;
  }}
}
