/* css file for every sub section */
#wait{position:absolute;left:40%;top:50%;}
.pop-up{
	height:100%;position:absolute;top:0;right:0;left:0;text-align:center;
}
.body{
	margin:40px;
	background: rgba(255,255,255,.1);
	font-family:raleway;
	height:90%;
	border-radius:15px;
	/*overflow-y: scroll;*/
	border:2px solid #68fff4;
}
.body::before, .body::after {
    position: absolute;
    background:transparent;
    content: '';
    z-index: 1;
}
.body::before {
	border-top:2px solid #009696;
	border-bottom:2px solid black;
    width: 700px;
    left: calc(50% - 350px);
    height: calc(100% - 66px);
    top:40px;
}
.body::after {
	border-left:2px solid #009696;border-right:2px solid #009696;
    height: 200px;
    left: 40px;
    width: calc(100% - 80px);
    top: calc(50% - 100px);
}
.body > * {
    position: relative; z-index: 2; /* ensure any child elements sit above pseudos */
}
.content-box{border-radius:15px;padding:30px;font-size:1.3em; background:rgba(0,0,0,0.86);height:100%;width:99%;overflow-x:hidden;}
.pop-up > .body:hover{
	background: rgba(255,255,255,.12);				
}

.header{
	padding-bottom:10px;
	margin:auto;
	font-size:1.5em;
}
.header .title{
	font-family: 'Aldrich';
	font-size:1.2em;
	text-transform: uppercase;
	padding-left:19px;
}

.header button{border:none;background:transparent;outline:none;}

.header .close-btn{
	width:38px;
	text-align: right;
}
.content{
	font-family: 'Lato';
	padding:10px 20px 10px 30px;
	overflow-y:scroll;
	height: inherit;
	text-align:justify;								
}
.close-btn{
	float: 		right;
	cursor: 	pointer;
	cursor: 	hand;
	display: 	inline-block;
}
/* Close Button Animation */
.close-btn img{
	/*top: 5px;*/
	/*right: 5px;*/
	/*height: auto;*/
	/*position: absolute;*/
	float: right;

	-webkit-transition: -webkit-transform .25s, opacity .25s;
	-moz-transition: -moz-transform .25s, opacity .25s;
	transition: transform .25s, opacity .25s;
	opacity: .75;
}
.close-btn img:hover {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	transform: rotate(270deg);
	opacity: 1;
}

/* customized scroll bar */
.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: transparent;
	border-radius: 10px;
	border: solid 3px transparent;
}

.content::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.content::-webkit-scrollbar-thumb
{
	/*background-color: #0ccfc1;*/
	border-radius: 5px;
	background-color: transparent;;
	background-image: -webkit-gradient(linear,
						   40% 0%,
						   75% 84%,
						   from(#0ccfc1),
						   to(#0ccfc1),
						   color-stop(.6,#60daaa));
}

@media only screen and (max-width: 700px) {

	#sample{
		margin:20px;   
	}
	.body{
		font-size: 12px;
		margin:5px;
		padding-left:3px;
		padding-right:3px;
		height : 100%;
	}
.body::before {
	border-top:2px solid #009696;
	border-bottom:2px solid black;
    width: 100px;
    left: calc(50% - 50px);
    height: calc(100% - 66px);
    top:5px;
}
.body::after {
	border-left:2px solid #009696;border-right:2px solid #009696;
    height: 100px;
    left: 5px;
    width: calc(100% - 5px);
    top: calc(50% - 50px);
}
.content-box{background:rgba(0,0,0,0.7);padding:5px;margin-top:50px;height:92%;}
.content{padding:5px 5px 80px 3px;width: 100%;}
}